.lea-header {
  width: 100%;

  .view-width {
    height: 100%;
  }

  .is-fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  .header-wrapper {
    width: 100%;
    background: #f0f0f0;
  }
}